body{
	margin: 0;
	font-size: 20px;
	line-height: 25px;

header{
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #242423;
	text-align: center;
}

header h1{
	color: #F5CB5C;
	font-family: fantasy;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 50px;
	}

header img{
	border-radius: 160px;
    width: 300px;
    border: 15px solid #F5CB5C;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-family: fantasy;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 30px;
	margin: 30px 0 10px;
}

a{
	color: #f5cb5c;
}

a:hover{
	color: #FAE7B2;
}

footer{
	background-color: #242423;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

p.caption{
	text-align: center; 
	font-size: 15px;
	margin: 0px;
}

p.creds{
	text-align: right;
	font-size: 15px;
	margin: 0;
	font-style: italic;
}

p.text{
	text-indent: 30px;
}